# Docker
.docker
.dockerignore
Dockerfile
docker-compose*.yml

# CI
.github

# Git
.git
.gitignore

# IDEs and editors
.idea

# Python cache
__pycache__
.pytest_cache
.ruff_cache

# Environment
.env

# Docs
LICENSE
README.md
