# In a production environment, it should be at least 32 characters long for security reasons
API_KEY=local
# Always use the postgresql+psycopg:// scheme, e.g. postgresql+psycopg://john:secret@db.example.com:5432/dbname
DATABASE_URL=postgresql+psycopg://postgres:postgres@database:5432/postgres
EMAIL_SENDER='Acme <noreply@acme.com>'
# Always use the smtp:// scheme, e.g. smtp://john:secret@example.com:465
SMTP_DSN=smtp://mailcatcher:1025
