# In a production environment, it should be at least 32 characters long for security reasons
API_TOKEN=test
# Always use the postgresql+psycopg:// scheme, e.g. postgresql+psycopg://john:secret@db.example.com:5432/dbname
DATABASE_URL=postgresql+psycopg://postgres:postgres@database:5432/postgres

### Stripe ###
STRIPE_API_KEY=example-api-key
STRIPE_CHECKOUT_SUCCESS_URL=https://example.com/success
STRIPE_PRICE_ID_MONTHLY=example-id-1
STRIPE_PRICE_ID_YEARLY=example-id-2
STRIPE_WEBHOOK_SECRET=example-webhook-secret
